@charset "utf-8";
/* CSS Document */

.header{
	border:1px red solid;
	height:580px;
	width:100%;
	background-color: #E73131;
}
.header_center{
	height:100%;
	width:1190px;
	margin: 0px auto;
	background-image:url(../img/TB1H2sxAcbpK1RjSZFywu0_qFXa.png);
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-position:center;

}
.shangbiao{
	height:115px;
	width:100px;
}
.b{
	width:1360px;
}
.a1{
	text-align:center;
	height:40px;
	color:#000;
	width:150px;
	font-size:26px;
}
.a2{
	width:136px;
}
.login{
	font-size: 20px;
	color: #666666;
	font-weight: bolder;
	line-height: 60px;
	width: 140px;
	text-align: center;
}
.register{
	font-size: 12px;
	float: right;
	width: 120px;
	line-height: 60px;
}
.header_login{
	overflow: hidden;
	text-align:center;
	width:350px;
	height:400px;
	background-color:#FFF;
	position:relative;
	right: -800px;
	top: 60px;
}
ul{
	padding: 0px;
	width: 350px;
}
li{
	list-style-type:none;
	height: 60px;
	margin-bottom: 30px;
}
li>div{
	float: left;
}
ul>li:first-child{
	margin-bottom: 20px;
}
ul>li input{
	line-height: 30px;
	width: 200px;
}
ul>li:last-child a{
	line-height: 25px;
	display: inline-block;
	text-align: right;
	font-size: 12px;
	color:#666;
	text-decoration: none;
}
ul>li:nth-child(4){
	margin: 0px;
	height: 50px;
}
.centre-left{
	width:60px;
	height:20px;
	margin-left: 30px;
}
.centre-right{
	width:180px;
	line-height:20px;
}
.centre-right p{
	margin: 0px;
	font-size: 12px;
}
.centre-right-bottom{
	height:20px;
	width:160px;
	margin-top:1px;
	color:#999;
	margin-left:15px;
	font-size:9px;
}
.uName{
	color:red;
	width:120px;
	height:20px;
}
.pass{
	color:red;
	width:120px;
	height:20px;
}
.eml{
	width:180px;
	height:20px;
}
.c{
	width:400px;
	height:60px;

}
.c1{
	width:425px;
	height:60px;
}
#button{
	width:200px;
	height:40px;
	background:red;
	margin-left: 25px;
}
.button-span{
	font-size:20px;
	color:#FFF;
}
.pan{
	color:red;
}
.bottom-p p{
	text-align:center;
	overflow:hidden;
	font-size:9px;
	color:#999;
	margin-left:50px;
}
.bottom-p{
	height:100px;
}

#send{
	width: 70px;
}