*{
	margin:0px;
	padding:0px;
}
body{
	font-size:12px;
	color:#000;
	margin:0px auto;
}
a{
	text-decoration:none;
	
}
a:hover{text-color:red}
ul li{
	list-style:none;
}

/* 头部 header*/
head{
	
	width:1366px;
}
.main1{
	
	color:#CCC;
	width:1366px;;
	height:35px;
	line-height:35px;
	background: linear-gradient(to bottom, #F2F2F2,  #F2F2F2, #F2F2F2);
}
.test2{
	
	float:right;
	height:50px;
	width:600px;
	line-height:35px;
	padding-right:5px;
}
.A1{float:left;  overflow: hidden;}
.A2{
	float:left;  overflow: hidden;}
ul{
	margin:0px;
	
	width:200px;
}
.c1{float:left;}

.top{
	 overflow: hidden;
	 width: 1200px;
	 margin:auto;
    height: 140px;}
.logo {
    overflow: hidden;
    float: left;
    display: inline;
    margin-top: 0px;
    margin-left: 20px;
    box-sizing: border-box;
}
.search {
    width: 520px;
    height: 65px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 350px;
    margin-top: 50px;
}
.s_ipt {
    width: 408px;
    height: 40px;
    line-height: 36px;
    overflow: hidden;
    color: #555555;
    font-size: 14px;
    float: left;
    padding: 0 10px;
    border: 2px solid #ff3c3c;
    border-right: 0;
}
.s_btn {
    width: 90px;
    height: 40px;
    line-height: 40px;
    background-color: #ff3c3c;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    float: left;
    border: 0;
    cursor: pointer;
}
.head_nav_main{
	
	 width: 1200px;
	 margin:auto;
    height: 65px;
	margin-bottom:10px;
}
.head_nav_main1{
	
	width: 1200px;
	 margin:auto;
    height: 54px;
}
.head_nav_main1 a {
	
	font-size:16px;
	height:52px;
	width:185px;
	float:left;

	line-height:50px;
	font-weight:900;
	text-align:center;
}
.head_index_on{
	height:52px;
	background-color:#FF3C3C;
	
}
.head_index_on:hover{
	border-bottom:#F00 solid 0px;
}
.head_nav_main1 a:hover{
	border-bottom:#F00 solid 2px;
	 
}
/*头部结束*/

/*主体部分*/
.center_clear {
	margin:-20px auto 0;
    width: 1200px;
	overflow: hidden;
    min-width: 1200px;
   
}
.clear{
	
	width: 1200px;
	height:400px;
	border:#FFF solid 2px;
	
}
.menu {
    width: 1200px;
    height: 43px;
    line-height: 43px;
    color: #3e3e3e;
    font-size: 16px;
    position: relative;
    z-index: 800;
}
ul.menu_r {
    width: 720px;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-left: 211px;
}
ul.menu_r li {
    width: 70px;
    height: 40px;
    text-align: center;
    float: left;
    display: inline;
    margin-right: 10px;
    font-weight: bold;
}
ul.menu_r li a {
    color: #3e3e3e;
}
ul.menu_r li a:hover, ul.menu_r .active a {
    color: #ff3c3c;
}

.m_ad {
    width: 260px;
    height: 43px;
    line-height: 40px;
    overflow: hidden;
    color: #ff3600;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    float: right;
}

.nav {
    width: 230px;
    background-color: #ff3c3c;
	margin-top:0px;
    position: absolute;
    left: 0;
    top: 0;
}
.nav_t {
    width: 220px;
    height: 43px;
    line-height: 43px;
    overflow: hidden;
    color: #FFF;
    font-size: 16px;
    text-indent: 35px;
}
.leftNav {

    width: 185px;
	height:400px;
    background-color: #FFF;
    position: absolute;
    left: 0;
    top: 0px;
}
.none {
    display: none;
}
.fl {
	margin:20px;
	}
.leftNav ul li {
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 14px;
	margin-left:3px;
    cursor: pointer;
    position: relative;
    /*鼠标移入过渡动画*/
    transition: all 1s;
}
/*鼠标移入商品列表，右移*/
.leftNav ul li:hover{
	color:#F00;
    transform: translate(20px,0);
}

.leftNav ul li ul {
    width: 220px;
    min-height: 70px;
    overflow: hidden;
    position: absolute;
    left: 196px;
    top: 0;
    border: 1px solid #d4d2d2;
    border-left: 0;
    z-index: 900;
    display: none;
}

.leftNav ul li ul li {
    width: 195px;
    height: auto;
    line-height: 25px;
    overflow: hidden;
    font-size: 12px;
    font-weight: normal;
    background: none;
    margin: 10px auto;
    padding: 0 0 5px;
    border-bottom: 1px dashed #d1d0d1;
}

.leftNav ul li ul li a {
    color: #989797;
    margin: 0 10px;
}

.leftNav ul li ul li a:hover {
    color: #e02d02;
}

.leftNav ul li ul li .n_t {
    width: 50px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    float: left;
}

.leftNav ul li ul li .n_c {
    width: 142px;
    overflow: hidden;
    float: left;
}

.leftNav ul li ul li .n_c a {
    width: 60px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    float: left;
    display: inline-block;
    margin: 0 0 0 10px;
}

.leftNav ul li .fj {
    width: 210px;
    height: 40px;
    line-height: 40px;
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 901;
}

.leftNav ul li .fj.nuw {
    width: 211px;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    background-color: #FFF;
    color: #ff4e00;
    z-index: 800;
}
.leftNav .zj {
    width: 800px;
    height: 400px;
    overflow: hidden;
    background-color: #FFF;
    position: absolute;
    left: 130px;
    top: 0;
    /*控制鼠标移入出现或消失*/
    display: none;
}
.leftNav .zj .zj_l {

    width: 400px;
    height: 385px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 20px;
    margin-top: 15px;
}
.leftNav .zj .zj_l_c {
    width: 280px;
    height: 108px;
    line-height: 25px;
    color: #dbdbdb;
    float: left;
    display: inline;
    margin-right: 0px;
    margin-bottom: 25px;
}
.leftNav .zj .zj_l_c h2 {
    height: 25px;
    line-height: 25px;
    color: #3e3e3e;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
}
.leftNav .zj .zj_l_c a {
    line-height: 22px;
    font-size: 12px;
    padding: 0 10px;
    margin: 0;
}
.leftNav .zj .zj_r {
    width: 236px;
    height: 402px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.leftNav .zj .zj_r img {
    width: 236px;
    height: 200px;
    display: block;
    margin-bottom: 1px;
}




/*焦点图*/
.banner {
	border:#F00 solid 1px;
    width: 780px;
    height: 400px;
    float: left;
    margin:-43px 0px 0px 185px;
}
.banner img {
	width:780px;
	height:400px;
}
.banner .top_slide_wrap {
    width: 780px;
    height: 401px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.num{
    position: absolute;
    bottom: 20px;
    right: 250px;
    z-index: 2;
}
.num li{
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #ccc0b3;
    text-align: center;
    margin: 0 4px;
    font-weight: bold;
}
.num li a{
    color: #000;
}
.num li:hover{
    background: #ff3c3c;
}
.num li:hover a{
    color: #fff;
}
.banner .slide_box li {
    height: 401px;
    position: relative;
}








/*新闻快讯*/
.inews {
	margin:-43px 0px 0px 0px;
    height: 399px;
	width:230px;
    background-color: #FFF;
    float: right;
    border: 1px solid #d9d9d9;
}

.news_t {
    height: 50px;
	text-align:center;
    line-height: 50px;
    overflow: hidden;
    color: #3e3e3e;
    font-size: 16px;
    border-bottom: 1px dotted #d9d9d9;
}
.news_t span {
    font-size: 12px;
    color: #888888;
}
.inews a {
    color: #888888;
}
.inews a:hover {
    color: #ff3c3c;
}
.news_t h3{
    height: 39px;
    line-height: 39px;
    color: #3e3e3e;
    font-size: 16px;
}

.inews ul {
    margin: 10px 10px 20px;
	border-bottom: 1px dotted #d9d9d9;
}
.inews ul li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #888888;
}
.inews ul li span {
    color: #3e3e3e;
    font-weight: bold;
	
}


   /*中间  中间热销部分*/

.hot_infor{
	margin-top:0px;
	overflow:hidden;
	
}
	

.hot_infor >span img {
	
	margin-top:15px;
	margin-left:20px;
}
.hot_infor >a{

	font-size:14px;
	font-weight:500;
}
.hot_infor >a:hover{
	color:#F00;
}
.test3 >ul{
	width:1200px;
	height:159px;
	overflow:hidden;
	margin-top:20px;
	border-top:#F00 solid 1px;

}
.but_m1{
	margin:0px 5px 0 0;
	width:235px;
	height:179px;
	overflow:hidden;
	float:left;
}



/*中间  中间今日更新部分*/ 

.area changs_sale{
	height:80px;
}
.changs_infor{

	width:400px;
	margin:20px 0 0 10px;
	float:left;
}
.changs_next1{

	float:right;
	width:410px;
	margin-top:30px;

}
.changs_next1 >ul{
	
	width:410px;
	height:30px;
	
}
.changs_next1 >ul >li{
	
	height:30px;
	float:left;
}
.changs_next1 >ul >li >a{
	font-size:14px;
	font-weight:500;
	line-height:30px;
	color:#666;
	
}
.changs_next1 >ul >li >a:hover{
	
	color:#F00;
}
.changs_next1_li >span{
	width:90px;
	height:30px;
	font-size:14px;
	font-weight:500;
	line-height:30px;
	margin-left:10px;
	color:#FFF;
}
.changs_next1_li{
	width:70px;
	background-color:#FF3C3C;
}
.class2{
	
	width:1200px;
}
	
.test4 >ul{


	width:1200px;
}
.but_m2 {

	height:380px;
	float:left;
	width:270px;
	margin-left:22px;
}
.name{


}
.name >a >h2{
    text-align: center;
    width: 270px;
	margin-top:20px;
	margin-bottom:5px;
	color:#666;
}
.name >a >span{
	font-weight:600;
	/*margin-left:40px;*/
	color:#999;
	text-align: center;
    display: inline-block;
    width: 270px;
	}
	
.name >a >h2:hover{
	color:#F03;
}
.name >a >span:hover{
	color:#F03;}

.price {

	width:80px;
	margin:10px auto;
	color:#F00;
	font-size:18px;
	font-weight:700;

}


/*分页*/
#fenye{	
	font-size:16px;
	
}
.fenye_main{
	
	width:600px;
	height:60px;
	margin:0px 0px 60px 400px;;
}
.fenye_main span{

	width:80px;
	height:30px;
	
	
	
}
.fenye_main span >a{
	color:#666;
	margin-left:30px;
}
.fenye_main span >a:hover{
	color:red;
}

	
/*尾部  footer*/
.center{ width:1200px;height:600px;margin:5px auto 0;padding:5px 0 10px;line-height:22px}
.about{font-family:"microsoft yahei";border-top:3px solid #ec1611;overflow: hidden;background:#fff;height:350px}
.about li{float:left;width:137px;text-align:left;padding:80px 20px 0;height:270px;overflow: hidden;line-height:24px;}
.about li span.show_icon{display:block;width:80px;height:80px;margin-bottom:14px;}
.about li span{display:block;font:16px/30px "microsoft yahei";color:#333}
.about li span.show_icon.aboutus{background-position:0 0}
.about li span.show_icon.shopguide{background-position:-95px 0}
.about li span.show_icon.usersafe{background-position:-190px 0}
.about li span.show_icon.busscom{background-position:0 -95px}
.about li span.show_icon.nexttothere{background-position:-95px -95px}
.about li.w3 h4 a{color:#ff404c}
.about .lw a{display:block;color:#999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:24px;width:85px}
.about .lw a:hover{color:#ec1611}
.about li.w1{padding-left:0}
.about li.w3 h3 a{color:#ec1611}
.about li.w3{width:170px}
.about li.w3 h3,.about li.w3 h4,.about li.w3 h5,.about{height:24px;line-height:24px;color:#999}
.about a{display:block;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px}
.about a.desktop:hover{color:#ec1611}
.about li.w3 h4 .bdtxt{color:#ec1611;height:20px;line-height:20px;width:63px;padding-left:5px;font-family:"微软雅黑"}
.about li.w3 h4 .smt{display:inline-block;*display:inline;*zoom:1;background:#fafafa no-repeat}
.about li.w3 h4 input,.about li.w3 h4 .smt{border:1px solid #eaeaea}
.about li.w3 h4 a.smt{position:relative;left:-6px;width:22px;height:22px;background:url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v2_new.png) no-repeat;background-position:-313px -202px;opacity:.6;filter:alpha(opacity=60);border-color:#ddd;vertical-align:top;margin-top:2px}
.about li.w3 h4 .smt{border-left:0}
.about li.w3 h4 .smt:hover{background-color:#FFF}
.about li.w3 .txt{height:21px;line-height:21px;width:98px;padding-left:5px;color:#ccc;font-family:"微软雅黑"}
.about li.w3 .smt{display:inline-block;*display:inline;*zoom:1;background:#fafafa no-repeat}
.about li.w3 input,.about li.w3 .smt{border:1px solid #eaeaea;vertical-align:middle}
.about li.w3 a.smt{width:22px;height:20px;background-image:url(//z5.tuanimg.com/v1/ju/core/img/icon_search_grey.png);background-position:center;opacity:.6;filter:alpha(opacity=60);border-color:#ddd;vertical-align:top;margin-top:1px}
.about li.w3 .smt{border-left:0}
.about li.w3 .smt:hover{background-color:#FFF}
.about li.w3 .dysmt{height:25px;line-height:25px;width:42px;cursor:pointer;color:#999;font-family:"微软雅黑"}
#clt,.about li.w3 {color:#999}
#clt u{text-decoration:none}
#clt:hover{color:#ec1611}
.for_bg_color{position:relative;height:20px;width:100%;background-color:#fff;padding-top:20px;z-index:2}
.foot-con{position:relative;background-color:#fff;padding-bottom:30px;padding-top:10px;z-index:1}
.footer{height:100px!important;font:12px/30px '微软雅黑';color:#999}
.footer img{vertical-align:middle;margin:0 auto;display:block}
.foot_center{margin:0 auto;height:28px;width:330px;margin-top:7px}
.foot_center .wxrz,.foot_center .cxwz{margin-right:12px}
.foot_center .wxrz{border:1px solid #c3bfbe}
.foot_center .cxwz,.foot_center .kxwz{margin-top:1px;margin-right:12px}
.foot_center .wxrz_img{background:url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png) -886px -626px;display:block;height:26px;width:70px}
.foot_center .cxwz_img{background:url(//status.tuanimg.com/statics/zhe/common/img/cert.png);background-size:contain;display:block;height:26px;width:70px}
.foot_center .kxwz_img{background:url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png) -885px -699px;display:block;height:26px;width:70px}
.foot_center .gsrz_img{background:url(//status.tuanimg.com/statics/zhe/common/img/gsrz-icon.jpg);display:block;height:28px;width:28px;background-size:contain}
.footer .footer-name{display:none}
.foot_center .commitment{float:left;margin-right:12px}
.foot_center .commitment .commitment_img{background:url(//status.tuanimg.com/statics/zhe/subject/img/logo.jpg) no-repeat;width:30px;height:28px;background-size:30px 28px;display:block;float:left}


	.about .area{width:1200px}
	.about li{width:140px;padding-left:60px}
	.about li.w2{width:162px}
	.about li.w3{width:180px}
	.about li.w1{width:140px}
	.area.footer{width:1200px;letter-spacing:1px}
	.area.footer .logo_img1{margin-left:500px}
	.area.footer .logo_img2{margin-left:57px}
	#right_min_window{display:none}
	.loading{width:1200px}



 .about li span.show_icon{background: url('//status.tuanimg.com/statics/zhe/common/img/foot_icon.png') no-repeat;}
  
.about .area li{
	border-bottom:solid 2px #F00;}
.btmbg {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    padding: 30px 0 40px 0;
    border-top: 1px solid #eaeaea;
}

.btm {
    width: 1200px;
    overflow: hidden;
    color: #999999;
    text-align: center;
}
.about li span.show_icon img {
    width: 75px;
    height:75px;
    display: inline-block;
    margin: auto;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 















