
@charset "utf-8";

*{
	margin:0px;
	padding:0px;
}
body{
	font-size:12px;
	color:#000;
	margin:0px auto;
}
 a{
	color:#777;
	text-decoration:none;
	
}
a:hover{text-color:red}
ul li{
	list-style:none;
}

/* 头部 header*/
.main{

	width:1366px;
}
.main1{
	
	color:#CCC;
	width:1366px;;
	height:35px;
	line-height:35px;
	background: linear-gradient(to bottom, #F2F2F2,  #F2F2F2, #F2F2F2);
}
.test2{
	
	float:right;
	height:50px;
	width:600px;
	line-height:35px;
	padding-right:5px;
}
.test2 a:hover{
	color:red;}
.A1{float:left;  overflow: hidden;}
.A2{
	float:left;  overflow: hidden;}
ul{
	margin:0px;
	
	width:200px;
}
.c1{float:left;}

.top{
	 overflow: hidden;
	 width: 1200px;
	 margin:auto;
    height: 140px;}
.logo {
    overflow: hidden;
    float: left;
    display: inline;
    margin-top: 0px;
    margin-left: 20px;
    box-sizing: border-box;
}
.search {
    width: 520px;
    height: 65px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 350px;
    margin-top: 50px;
}
.s_ipt {
    width: 408px;
    height: 40px;
    line-height: 36px;
    overflow: hidden;
    color: #555555;
    font-size: 14px;
    float: left;
    padding: 0 10px;
    border: 2px solid #ff3c3c;
    border-right: 0;
}
.s_btn {
    width: 90px;
    height: 40px;
    line-height: 40px;
    background-color: #ff3c3c;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    float: left;
    border: 0;
    cursor: pointer;
	overflow:hidden;
}
.head_nav_main{
	
	 width: 1200px;
	 margin:auto;
    height: 100px
}
.head_nav_main1{
	
	width:1198px;
	height:100px;
	margin:auto;
}
.head_nav_main1 a {
	
	font-size:16px;
	height:50px;
	width:185px;
	float:left;
	margin-top:45px;
	line-height:50px;
	font-weight:900;
	text-align:center;
	overflow:hidden;
}
.head_index_one{
	background-color:#FF3C3C;
	color:#FFF;
}

.head_nav_main1 a:hover{
	box-shadow: -3px 0px 3px #999;
 	z-index: 10;
	border-bottom:solid 2px #F00;
	 
}
/*头部结束*/










/*主体部分*/






/*购物车菜单*/
.center_class{
	width:1200px;
	margin:auto;
	
}


	
	
.last{
	
    width: 1200px;
    background: #fff;
	margin:20px auto;
 
}
.noshop{
	display:none;
	text-align:center;
	font-size:16px;

}

.shop{
	
	
}


.shop ul{
	overflow:hidden;
	
	width:1200px;
}


.shop >ul >li{
	overflow:hidden;
 	width:1198px;
	border:1px solid #ccc;
	margin:10px 0;

}

.li_input {
	border:#000 1px solid;
	float:left;
}
.shopImg {

	float:left;
	margin:28px 0px 0 20px;
}

.clear >h5{
	overflow:hidden;
	
	display:inline-block;
	width:180px;
	float:left;
	margin:50px 0 0 10px;
}
.price {
	display:inline-block;
	float:left;
	margin:60px 0 0 230px;
	font-size:14px;
	font-weight:600;
}
.plush{
	
	width:130px;
	height:35px;
	float:left;
	margin:50px auto auto 80px;
	
}
.plush >input{
	width:30px ;
	height:30px;
	line-height:30px;
	text-align:center;
}
.J_btnDelCount,.J_btnAddCount {
	
	display:inline-block;
	
	text-align:center;
	width:30px;
	line-height:33px;

}
.J_btnDelCount {
	margin-right:-4px;
	background-color:#CCC;
}
.J_btnAddCount{
	margin-left:-4px;
	background-color:#CCC;
}
.J_smallTotalPrice {
	
	float:left;
	margin:60px auto auto 25px;
	font-size:14px;
	font-weight:650;
	color:red;
}
.shoucang {
	
	float:right;
	margin:60px 50px 0 0;
}
.J_btnDelete {
	float:right;
	margin:60px 100px 0 0;
}


.buy {
	clear:both;
	border:1px solid #ccc;
	width:1200px;
	height:50px;
	overflow:hidden;
	margin-top:30px;
}
.buy >p{

	display:inline-block;
	width:150px;
	line-height:50px;
	text-align:center;
	float:right;
	margin:0px 50px 0 0 ;
	background-color:#F8F8F8;


}
.buy_delete {
	
	float:left;
	display:inline-block;
	line-height:50px;
	text-align:center;
	margin-left:20px
}

.buy_count {

	float:right;
	display:inline-block;
	width:150px;
	line-height:50px;
	text-align:center;
	margin:0px 0px 0 0 ;
	background-color:#FF5C4D;
	color:#FFF;
}
/*分页*/
#fenye{

	font-size:14px;
	clear:both;

}
.fenye_main{
	margin:auto;
	width:550px;
	height:60px;

}
.fenye_main span{
	background-color: #FFF;
	margin-left:10px;
	border:1px solid #CCC;
	width:40px;
	display:inline-block;
	height:30px;
	text-align:center;
	margin-top:15px;
	line-height:30px;



}
.fenye_main span >a{
	color:#666;

}
.fenye_main span >a:hover{
	color:red;
}




/*尾部  footer*/
.center{ width:1200px;height:600px;margin:5px auto 0;padding:5px 0 10px;line-height:22px}
.about{font-family:"microsoft yahei";border-top:3px solid #ec1611;overflow: hidden;background:#fff;height:350px}
.about li{float:left;width:137px;text-align:left;padding:80px 20px 0;height:270px;overflow: hidden;line-height:24px;}
.about li span.show_icon{display:block;width:80px;height:80px;margin-bottom:14px;}
.about li span{display:block;font:16px/30px "microsoft yahei";color:#333}
.about li span.show_icon.aboutus{background-position:0 0}
.about li span.show_icon.shopguide{background-position:-95px 0}
.about li span.show_icon.usersafe{background-position:-190px 0}
.about li span.show_icon.busscom{background-position:0 -95px}
.about li span.show_icon.nexttothere{background-position:-95px -95px}
.about li.w3 h4 a{color:#ff404c}
.about .lw a{display:block;color:#999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:24px;width:85px}
.about .lw a:hover{color:#ec1611}
.about li.w1{padding-left:0}
.about li.w3 h3 a{color:#ec1611}
.about li.w3{width:170px}
.about li.w3 h3,.about li.w3 h4,.about li.w3 h5,.about{height:24px;line-height:24px;color:#999}
.about a{display:block;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px}
.about a.desktop:hover{color:#ec1611}
.about li.w3 h4 .bdtxt{color:#ec1611;height:20px;line-height:20px;width:63px;padding-left:5px;font-family:"微软雅黑"}
.about li.w3 h4 .smt{display:inline-block;*display:inline;*zoom:1;background:#fafafa no-repeat}
.about li.w3 h4 input,.about li.w3 h4 .smt{border:1px solid #eaeaea}
.about li.w3 h4 a.smt{position:relative;left:-6px;width:22px;height:22px;background:url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v2_new.png) no-repeat;background-position:-313px -202px;opacity:.6;filter:alpha(opacity=60);border-color:#ddd;vertical-align:top;margin-top:2px}
.about li.w3 h4 .smt{border-left:0}
.about li.w3 h4 .smt:hover{background-color:#FFF}
.about li.w3 .txt{height:21px;line-height:21px;width:98px;padding-left:5px;color:#ccc;font-family:"微软雅黑"}
.about li.w3 .smt{display:inline-block;*display:inline;*zoom:1;background:#fafafa no-repeat}
.about li.w3 input,.about li.w3 .smt{border:1px solid #eaeaea;vertical-align:middle}
.about li.w3 a.smt{width:22px;height:20px;background-image:url(//z5.tuanimg.com/v1/ju/core/img/icon_search_grey.png);background-position:center;opacity:.6;filter:alpha(opacity=60);border-color:#ddd;vertical-align:top;margin-top:1px}
.about li.w3 .smt{border-left:0}
.about li.w3 .smt:hover{background-color:#FFF}
.about li.w3 .dysmt{height:25px;line-height:25px;width:42px;cursor:pointer;color:#999;font-family:"微软雅黑"}
#clt,.about li.w3 {color:#999}
#clt u{text-decoration:none}
#clt:hover{color:#ec1611}
.for_bg_color{position:relative;height:20px;width:100%;background-color:#fff;padding-top:20px;z-index:2}
.foot-con{position:relative;background-color:#fff;padding-bottom:30px;padding-top:10px;z-index:1}
.footer{height:100px!important;font:12px/30px '微软雅黑';color:#999}
.footer img{vertical-align:middle;margin:0 auto;display:block}
.foot_center{margin:0 auto;height:28px;width:330px;margin-top:7px}
.foot_center .wxrz,.foot_center .cxwz{margin-right:12px}
.foot_center .wxrz{border:1px solid #c3bfbe}
.foot_center .cxwz,.foot_center .kxwz{margin-top:1px;margin-right:12px}
.foot_center .wxrz_img{background:url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png) -886px -626px;display:block;height:26px;width:70px}
.foot_center .cxwz_img{background:url(//status.tuanimg.com/statics/zhe/common/img/cert.png);background-size:contain;display:block;height:26px;width:70px}
.foot_center .kxwz_img{background:url(//z6.tuanimg.com/v3/src/img/common/big_bg_img_v3.png) -885px -699px;display:block;height:26px;width:70px}
.foot_center .gsrz_img{background:url(//status.tuanimg.com/statics/zhe/common/img/gsrz-icon.jpg);display:block;height:28px;width:28px;background-size:contain}
.footer .footer-name{display:none}
.foot_center .commitment{float:left;margin-right:12px}
.foot_center .commitment .commitment_img{background:url(//status.tuanimg.com/statics/zhe/subject/img/logo.jpg) no-repeat;width:30px;height:28px;background-size:30px 28px;display:block;float:left}


.about .area{width:1200px}
.about li{width:140px;padding-left:60px}
.about li.w2{width:162px}
.about li.w3{width:180px}
.about li.w1{width:140px}
.area.footer{width:1200px;letter-spacing:1px}
.area.footer .logo_img1{margin-left:500px}
.area.footer .logo_img2{margin-left:57px}
#right_min_window{display:none}
.loading{width:1200px}



/*.about li span.show_icon{background: url('//status.tuanimg.com/statics/zhe/common/img/foot_icon.png') no-repeat;}*/


.btmbg {
	width: 100%;
	min-width: 1200px;
	overflow: hidden;
	padding: 30px 0 40px 0;
	border-top: 1px solid #eaeaea;
}

.btm {
	width: 1200px;
	overflow: hidden;
	color: #999999;
	text-align: center;
}
.about li span.show_icon img {
	width: 75px;
	height:75px;
	display: inline-block;
	margin: auto;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}




