<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.tiantian.dao.order.OrderMapper">

    <resultMap id="orderMap" type="order">
        <id property="orderId" column="orderId"/>
        <association property="recAddress"  column="recAddressId" select="findRecAddress"/>
        <collection property="orderDetails" ofType="orderDetail" column="orderId" select="findOrderDetail"/>
        <collection property="proScores" ofType="proScore" column="orderId" select="findProScore"/>
    </resultMap>


    <select id="getOrderByUserId" resultMap="orderMap">
        SELECT * FROM `order` WHERE userid =${userId}
         LIMIT ${currentPage},${pageSize}
    </select>
    <select id="findCountByUserId" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM `order` WHERE userid =${userId}
    </select>

    <select id="getAllByUserId" resultMap="orderMap">
        SELECT * FROM `order` WHERE userid = ${userId}
    </select>

    <select id="findOrderDetail" resultType="OrderDetail">
        select * from orderdetail where orderid = #{orderId}
    </select>
    <select id="findProScore" resultType="proScore">
       select * from proScore where orderid = #{orderId}
    </select>
    <select id="findRecAddress" parameterType="int" resultType="recAddress">
        select * from recaddress where recaddressId = #{recAddressId}
    </select>

    <!--动态添加 // 设置useGeneratedKeys为true，返回数据库自动生成的记录主键id-->
    <insert id="saveOrder" parameterType="order" useGeneratedKeys="true" keyProperty="order.orderId">
        insert ignore into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.user neq null">userId,</if>
            <if test="order.recAddress neq null">recAddressId,</if>
            <if test="order.cost &gt; 0 ">cost,</if>
            <if test="order.orderNum neq null and order.orderNum neq ''">orderNum,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.user neq null">#{order.user.userId},</if>
            <if test="order.recAddress neq null ">#{order.recAddress.recAddressId},</if>
            <if test="order.cost &gt; 0 ">#{order.cost},</if>
            <if test="order.orderNum neq null and order.orderNum neq ''">#{order.orderNum},</if>
        </trim>
    </insert>

    <select id="getOrderById" resultType="order">
        select * from `order` where orderId = ${orderId}
    </select>

</mapper>