<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.tiantian.dao.orderDetail.OrderDetailMapper">
    <insert id="saveOderDetailByMap" >
        insert ignore into orderdetail values
        <foreach collection="list" item="orderDetail" separator=",">
            (0,#{orderDetail.order.orderId},#{orderDetail.product.proId},#{orderDetail.count},
            #{orderDetail.cost},#{orderDetail.shop.shopId},#{orderDetail.frozenPrice},#{orderDetail.dPrice},null)
        </foreach>
    </insert>

</mapper>