<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.tiantian.dao.productCategory.ProductCategoryMapper">
    <!--自关联递归查询-->
    <resultMap type="productcategory" id="productcategoryMap">
        <id column="pcId" property="pcId"/>
        <collection property="productCategorys" ofType="productcategory" column="pcId" select="findMenuByParentId"/>
    </resultMap>

    <select id="getAll" resultMap="productcategoryMap">
        SELECT * FROM productcategory WHERE parentId ='' or parentId is NULL ORDER BY pcId ASC
    </select>

    <select id="findMenuByParentId" resultMap="productcategoryMap">
        SELECT * FROM productcategory WHERE parentId = #{pcId} ORDER BY pcId ASC
    </select>

    <select id="getProductCategoryByPcId" resultType="productCategory">
        select * from productCategory where pcId = ${pcId}
    </select>

    <select id="getProductCategoryByPcId3" resultMap="productcategoryMap">
        SELECT * FROM productCategory a WHERE a.parentId
        IN(
          SELECT parentId FROM productCategory WHERE pcId = ${pcId}
        )
    </select>
</mapper>