<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.tiantian.dao.product.ProductMapper">
    <resultMap id="productMap" type="product">
        <id column="pId" property="proId"/>
        <association property="shop" javaType="shop">
            <id column="sId" property="shopId"/>
            <association property="user" javaType="user"  resultMap="findUserByUserIdMap"></association>
        </association>
    </resultMap>
    <resultMap id="findUserByUserIdMap" type="user">
        <id column="uId" property="userId"/>
    </resultMap>

    <select id="getAll" resultMap="productMap">
        select * from product order by createTime asc
    </select>
    <select id="getProductByProName" resultType="product">
        select * from product
        <trim prefix="where" prefixOverrides="and | or">
            <if test="proName != null and proName != ''">
                and proName like CONCAT("%",#{proName},"%")
            </if>
        </trim>
        LIMIT ${currentPage},${pageSize}
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from product
        <trim prefix="where" prefixOverrides="and | or">
            <if test="proName != null and proName != ''">
                and proName like CONCAT("%",#{proName},"%")
            </if>
        </trim>
    </select>

    <select id="getProductByProId" resultMap="productMap">
         SELECT p.*,p.proId pId,s.*,s.shopId sId,u.*,u.userId uId
         FROM product p,shop s,user u
         WHERE p.shopId=s.shopId
         AND s.userId=u.userId
         AND proId=${proId}
    </select>

    <select id="getProductByPcId" resultMap="productMap">
        SELECT * FROM product WHERE pcId
          IN(
            SELECT pcId FROM productCategory WHERE parentId = ${pcId} OR pcId = ${pcId}
          )
          LIMIT ${currentPage},${pageSize}
    </select>
    <select id="getCountByPcId" resultType="java.lang.Integer">
        SELECT count(1) FROM product WHERE pcId
          IN(
            SELECT pcId FROM productCategory WHERE parentId = ${pcId} OR pcId = ${pcId}
          )
    </select>
    <select id="getProductByPcId3" resultMap="productMap">
        SELECT * FROM product WHERE pcId
          IN (
            SELECT pcId FROM productCategory a WHERE a.parentId
              IN(
                SELECT parentId FROM productCategory WHERE pcId = ${pcId}
              )
          )
          LIMIT ${currentPage},${pageSize}
    </select>
    <select id="getCountByPcId3" resultType="java.lang.Integer">
        SELECT count(1) FROM product WHERE pcId
          IN (
            SELECT pcId FROM productCategory a WHERE a.parentId
              IN(
                SELECT parentId FROM productCategory WHERE pcId = ${pcId}
              )
          )
    </select>
</mapper>