<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.tiantian.dao.user.UserMapper">
    <resultMap id="userMap" type="user">
        <id property="userId" column="userId"/>
    </resultMap>
    <select id="getUserByUserName" resultMap="userMap" parameterType="String">
        select * from user where userName = #{userName}
    </select>
    <select id="getUserByUserNameAndPassword" resultMap="userMap" parameterType="String">
        select * from user where userName = #{userName} and password = #{password}
    </select>

    <!--动态添加 // 设置useGeneratedKeys为true，返回数据库自动生成的记录主键id-->
    <insert id="saveUser" parameterType="map" useGeneratedKeys="true" keyProperty="userId">
        insert ignore into user
        <foreach collection="params.keys" item="key" open="(" close=")" separator="," >
            ${key}
        </foreach>
        values
        <foreach collection="params.keys"  item="key" open="(" close=")" separator=",">
            #{params.${key}}
        </foreach>
    </insert>

    <update id="updateUser" parameterType="user">
        update user 
                  <set>
                      <if test="userName != null and userName != ''">userName=#{userName},</if>
                      <if test="password != null and password != ''">password=#{password},</if>
                      <if test="nickName != null and nickName != ''">nickName=#{nickName},</if>
                      <if test="realName != null and realName != ''">realName=#{realName},</if>
                      <if test="sex != null and sex != ''">sex=${sex},</if>
                      <if test="phone != null and phone != ''">phone=#{phone},</if>
                      <if test="email != null and email != ''">email=#{email},</if>
                      <if test="birthday != null">birthday=#{birthday},</if>
                      <if test="userUrl != null and userUrl != ''">userUrl=#{userUrl},</if>
                      <if test="money &gt; 0">money=${money},</if>
                      <if test="integra &gt; 0">integra=${integra},</if>
                      <if test="address != null and address != ''">address=#{address},</if>
                      <if test="userType &gt; 0">userType=${userType},</if>
                      <if test="identity != null and identity != ''">identity=#{identity},</if>
                  </set>
                where userId=${userId}
    </update>
    <!--<update id="updateInfoByID" parameterType="java.util.Map">
        UPDATE ${tableName} set
        <foreach item="value" index="key" collection="params" separator=",">
            <if test="key != 'id'">
                ${key} = #{value}
            </if>
        </foreach>
        WHERE
        <foreach item="value" index="key" collection="params" separator=",">
            <if test="key == 'id'">
                ID = #{value}
            </if>
        </foreach>
    </update>-->
    <delete id="deleteUserByUserId" parameterType="int">
        delete from user where userId=${userId}
    </delete>
    <select id="getUserByUserId" resultMap="userMap" parameterType="java.lang.String">
        select * from user where userId=#{userId}
    </select>

    <select id="getUserByPhone" resultType="user">
        select * from user where phone = #{phone}
    </select>
</mapper>